<div class="container">

    <app-encabezado></app-encabezado>

    <router-outlet></router-outlet>

    <app-footer></app-footer>
    
</div>



<!-- <app-ng-for></app-ng-for>


<h1 class="container bg-dark text-white text-center my-4 py-4">ngIf show = {{show}}
</h1>
<div class="container">

    <button class="btn btn-dark mb-3" (click)="activo='primero'">Primero</button>
    <button class="btn btn-danger mb-3" (click)="activo='segundo'">Segundo</button>

    <p class="text-info d-none" [ngClass]="{'d-block':activo=='primero'}" >Lorem ipsum dolor sit amet
         consectetur adipisicing elit. Nostrum nulla nam vero, aliquam minus numquam 
         delectus quam maxime, autem, eos voluptatem. Distinctio quasi eaque dolorem 
         delectus modi pariatur consectetur ex.</p>

    
        <p class="text-danger d-none" [ngClass]="{'d-block':activo=='segundo'}">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Rerum, doloribus sit? Sint ipsam est repellendus excepturi, consectetur 
             cupiditate ducimus ex rerum iure facere optio nobis tempora necessitatibus. 
             Ducimus, labore quibusdam.</p>
    

   
</div> 


 -->


